/* 컬러 변수 */
:root {
  --point-color1: #0b56a7;
  --point-color2: #173271;
  --gray-400: #333;
  --gray-500: #111;
  --gray-600: #000;
}


/* 서브_헤더 */
#header.sub_header {
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
}
#header.sub_header .logo a {
  background: url(../images/logo_blue.png) no-repeat center center / 100%;
}
#header.sub_header .gnb>li>a {
  color: var(--gray-600);
}
#header.sub_header .login {
  background: var(--gray-600);
}
#header.sub_header .lang_wrap .lang_btn {
  background: url(../images/lang_btn_black.png) no-repeat left top;
}
#header.sub_header .lang_wrap .lang_btn::after {
  -webkit-mask: url(../images/lang_down.png) no-repeat left top / 100%;
  mask: url(../images/lang_down.png) no-repeat left top / 100%;
  background: var(--gray-600);
}
#header.sub_header .open_btn i {
  background: var(--gray-600);
}
#header.sub_header .lang_wrap .lang {
  background: #efefef;
}
#header.sub_header .lang_wrap .lang::before {
  border-bottom-color: #efefef;
}



/* 서브_메인_공통 */
.contents {
  padding: 120px 0 160px;
}
.contents .inner {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}



/* 서브_로그인페이지 */
.login_page .contents {
  padding: 150px 0 100px 0;
}
.login_page .inner {
  max-width: 448px;
  margin: 0 auto;
}
.login_page .login_area {
  border: 1px solid #efefef;
  border-radius: 6px;
  padding: 24px;
}
/* 아이디 입력창 */
.login_page .login_area .input_wrap1 {
  border-radius: 6px 6px 0 0;
  border: 1px solid #efefef;
  margin-top: 30px;
}
.login_page .login_area input[type=text] {
  width: 100%;
  border: none;
  background: none;
  height: 46px;
  padding: 0 20px;
}
/* 비밀번호 입력창 */
.login_page .login_area .input_wrap2 {
  border-radius: 0 0 6px 6px;
  border: 1px solid #efefef;
  border-top: none;
  margin-bottom: 15px;
}
.login_page .login_area input[type=password] {
  width: 100%;
  border: none;
  background: none;
  height: 46px;
  padding: 0 20px;
}
/* 로그인 상태 유지 */
/* .login_page .login_area .row3 { */
/*   font-size: 15px; */
/* } */
/* .login_page .login_area input[type=checkbox] + label { */
/*   font-size: 15px; */
/* } */
/* 로그인 버튼 */
.login_page .login_area .login_btn {
  width: 100%;
  border: none;
  line-height: 52px;
  background: var(--point-color1);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-top: 30px;
}
/* 비밀번호 찾기 / 회원가입 */
.login_page .etc_area,
.logout_page .etc_area {
  margin-top: 20px;
  text-align: center;
}
.login_page .etc_area li,
.logout_page .etc_area li {
  position: relative;
  display: inline-block;
}
.login_page .etc_area li>a, 
.logout_page .etc_area li>a {
  font-size: 14px;
  line-height: 17px;
  color: #888;
}
.login_page .etc_area li+li,
.logout_page .etc_area li+li {
  padding-left: 28px;
}
.login_page .etc_area li+li::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 12px;
  width: 1px;
  height: 12px;
  background: #dadada;
}

/* 로그아웃 페이지 */
.logout_page .contents {
  padding: 150px 0 100px 0;
}
.logout_page .inner {
  max-width: 448px;
  margin: 0 auto;
}
.logout_page .logout_area {
  border: 1px solid #efefef;
  border-radius: 6px;
  padding: 24px;
}
.logout_page .logout_area .logout_btn {
	display: block;
	width: 100%;
	border: none;
	line-height: 52px;
	background: var(--point-color1);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	margin-top: 30px;
}



/* 서브_회원가입페이지 */
.regist_page .contents {
  padding: 150px 0 100px 0;
}
.regist_page .inner {
  max-width: 448px;
  margin: 0 auto;
}
.regist_page .regist_area {
  border: 1px solid #efefef;
  border-radius: 6px;
  padding: 24px;
}
/*********** 입력창 시작 ***********/
.regist_page .regist_area .input_wrap1 {
  border-radius: 6px 6px 0 0;
  border: 1px solid #efefef;
  margin-top: 30px;
}
.regist_page .regist_area .input_wrap2 {
  border: 1px solid #efefef;
  border-top: none;
}
.regist_page .regist_area .input_wrap3 {
  border: 1px solid #efefef;
  border-top: none;
}
.regist_page .regist_area .input_wrap4 {
  border: 1px solid #efefef;
  border-top: none;
}
.regist_page .regist_area .input_wrap5 {
  border-radius: 0 0 6px 6px;
  border: 1px solid #efefef;
  border-top: none;
  margin-bottom: 15px;
}
/*********** 입력창 끝 ***********/
/* 입력창 공통 */
.regist_page .regist_area input[type=text] {
  width: 100%;
  border: none;
  background: none;
  height: 46px;
  padding: 0 20px;
}
/* 가입완료 버튼 */
.regist_page .regist_area .complete_btn {
  display: block;
  width: 100%;
  border: none;
  line-height: 52px;
  background: var(--point-color1);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-top: 30px;
}

/* 서브_회원정보수정페이지 */
.modify_page .contents {
  padding: 150px 0 100px 0;
}
.modify_page .inner {
  max-width: 448px;
  margin: 0 auto;
}
.modify_page .modify_area {
  border: 1px solid #efefef;
  border-radius: 6px;
  padding: 24px;
}
/*********** 입력창 시작 ***********/
.modify_page .modify_area .input_wrap1 {
  border-radius: 6px 6px 0 0;
  border: 1px solid #efefef;
  margin-top: 30px;
  background: #dadada;
}
.modify_page .modify_area .input_wrap2 {
  border: 1px solid #efefef;
  border-top: none;
}
.modify_page .modify_area .input_wrap3 {
  border: 1px solid #efefef;
  border-top: none;
}
.modify_page .modify_area .input_wrap4 {
  border: 1px solid #efefef;
  border-top: none;
}
.modify_page .modify_area .input_wrap5 {
  border-radius: 0 0 6px 6px;
  border: 1px solid #efefef;
  border-top: none;
  margin-bottom: 15px;
}
/*********** 입력창 끝 ***********/
/* 입력창 공통 */
.modify_page .modify_area input[type=text] {
  width: 100%;
  border: none;
  background: none;
  height: 46px;
  padding: 0 20px;
}
/* 수정완료 버튼 */
.modify_page .modify_area .complete_btn {
  display: block;
  width: 100%;
  border: none;
  line-height: 52px;
  background: var(--point-color1);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-top: 30px;
}




/* 서브_리스트페이지_상단이미지 */
.list_page .free_visual {
  background: url(../images/sub_visual1.jpg) no-repeat left top / cover;
}
.list_page .qna_visual {
  background: url(../images/sub_visual2.jpg) no-repeat left top / cover;
}
.list_page .file_visual {
  background: url(../images/sub_visual3.jpg) no-repeat left top / cover;
}
.list_page .sub_visual .inner {
  max-width: 1440px;
  height: 740px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
.list_page .visual_wrap {
  position: absolute;
  left: 0;
  top: 280px;
  display: block;
  width: 100%;
}
.list_page .tit_wrap h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  position: relative;
}
.list_page .tit_wrap h2::after {
  content: '';
  display: block;
  width: 130px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 92px;
  bottom: 5px;
}
.list_page .tit_wrap p {
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  color: #fff;
  word-wrap: keep-all;
  margin-top: 36px;
}
/* 서브_리스트페이지_게시물목록 */
.contents {
  padding: 60px 0 100px;
}
.contents .inner {
  max-width: 14400px;
  margin: 0 auto;
}






/* 태블릿 분기점 */
@media (max-width: 1200px) {
  /* 서브_헤더_언어버튼_태블릿 */
  #header.sub_header .lang_wrap .lang_btn {
    background-size: 100%;
  }

  /* 서브_메인_공통_태블릿 */
  .contents {
    padding: 80px 0 120px;
  }

  /* 서브_헤더_로그인페이지_태블릿 */
  #header.sub_header .m_login {
    background: var(--gray-500);
  }

  /* 서브_리스트페이지_상단이미지_태블릿 */
  .list_page .sub_visual .inner {
    height: 600px;
  }
  .list_page .visual_wrap {
    padding: 0 40px;
  }
  .list_page .tit_wrap h2 {
    font-size: 20px;
  }
  .list_page .tit_wrap h2::after {
    width: 100px;
    height: 1px;
    left: 80px;
  }
  .list_page .tit_wrap p {
    font-size: 44px;
    margin-top: 30px;
  }
  /* 서브_리스트페이지_게시물목록_태블릿 */
  .contents {
    padding: 60px 0 100px;
  }
  .contents .inner {
    padding: 0 40px;
    margin: 0 auto;
  }
}



/* 모바일 분기점 */
@media (max-width: 767px) {
  /* 서브_헤더_언어버튼_모바일 */
  #header.sub_header .lang_wrap .login {
    font-size: 13px;
  }
  
  /* 서브_메인_공통_모바일 */
  .contents {
    padding: 40px 0 100px;
  }
  .contents .inner {
    padding: 0 15px;
  }

  /* 서브_로그인_모바일 */
  .login_page .inner {
    padding: 0 15px;
  }
}